version: '3.8'

services:
  # 1. กล่อง Database 
  db:
    image: postgres:15-alpine
    container_name: painamnae-db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: painamnae_db
    ports:
      - "5432:5432" # เปิดให้เครื่องเรา (DBeaver/PgAdmin) เข้าไปดูข้อมูลได้
    volumes:
      - pgdata:/var/lib/postgresql/data # *สำคัญ* เก็บข้อมูลลง Harddisk (ลบ Container ข้อมูลไม่หาย)

  # 2. กล่อง Backend
  backend:
    build: ./backend
    container_name: painamnae-backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      # --- ของเดิม ---
      DATABASE_URL: "postgresql://myuser:mypassword@db:5432/painamnae_db?schema=public"
      JWT_SECRET: "change_me_later"
      PORT: 3000
      # --- เพิ่มส่วนนี้ต่อท้าย (ต้องมีย่อหน้าเท่ากันกับข้างบน) ---
      ADMIN_EMAIL: "admin@example.com"
      ADMIN_USERNAME: "admin123"
      ADMIN_PASSWORD: "password1234"
      ADMIN_FIRST_NAME: "System"
      ADMIN_LAST_NAME: "Administrator"

      CLOUDINARY_CLOUD_NAME: "dyuxnerdb"
      CLOUDINARY_API_KEY: "792285448287914"
      CLOUDINARY_API_SECRET: "x9eb9HXVTVg7A6nfNIDHx-fsBwo"

      GOOGLE_MAPS_API_KEY: "AIzaSyA0_nkEKngbvQJ_K5uLrfVlHMC0WBWWRYI"

    depends_on:
      - db # บอกให้รอ Database ตื่นก่อนค่อยทำงาน

  # 3. กล่อง Frontend
  frontend:
    build: ./frontend
    container_name: painamnae-frontend
    restart: always
    ports:
      - "3001:3000" # เข้าเว็บผ่าน http://localhost:3001 (ภายในกล่องมันรัน 3000)
    environment:
      NUXT_PUBLIC_API_BASE: "http://localhost:3000/api" # ชี้ไปหา Backend

      NUXT_PUBLIC_GOOGLE_MAPS_API_KEY: "AIzaSyA0_nkEKngbvQJ_K5uLrfVlHMC0WBWWRYI"

    depends_on:
      - backend

# พื้นที่เก็บข้อมูลถาวรสำหรับ Database
volumes:
  pgdata:
